body {
    background-image: url(9-trump.jpg);
    background-size: 50%;
    background-position: 50% 0;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 270%;
    transform: rotate(-5deg)
               skew(-5deg);
}

.quotediv {
    position: absolute;
    bottom: 70px;
    height: auto;
    width: 50%;
    margin-left: -26%;
    left: 50%;
    background-color: white;
    border: 3px solid #046eff;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 15px red;
}

#quote {
    font-size: 120%;
}

#btn {
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
    position: absolute;
    right: 15%;
    background: red;
    border-radius: 50%; 
    width: 200px;
    height: 200px;
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 15px black;
    outline: none;
    transition: 0.5s;
    text-shadow: 0 0 10px black;
}

#btn:hover {
    background-color: #e90000;
}

#btn:active {
  background-color: #e90000;
  transform: translateY(4px);
}

footer {
    position: fixed;
    bottom: 0;
    font-size: 80%;
}

a {
    color: black;
}

@media screen and (max-width:800px) {
    h1 {
        width: 90%;
    } 
    body {
        background-image: none;
    }
    .quotediv {
        position: fixed;
        width: 90%;
        margin: auto;
        left: 5%;
        padding: 5%;
        box-sizing: border-box;
    }
    #quote {
        font-size: 80%;
    }
    #btn {
        position: static;
        width: 150px;
        height: 150px;
        margin-left: 30%;
        font-size: 2.5rem;
    }
    .btndiv {
        position: fixed;
        margin: auto;
        width: 90%;
        align-content: center;
    }
    #imgcredit {
        display: none;
    }
}